button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

.hero-slider {
    position: relative;
    background-color: #1b1b1b; }
    .hero-slider .slides {
      list-style: none;
      padding: 0;
      margin: 0;
      *zoom: 1; }
      .hero-slider .slides:after {
        content: " ";
        clear: both;
        display: block;
        overflow: hidden;
        height: 0; }
      .hero-slider .slides li {
        padding-top: 100px;
        max-height: 100%;
        height: 100vh;
        float: left;
        margin-right: -100%;
        width: 100%;
        text-align: center;
        color: white; }
      .hero-slider .slides .slide-title {
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 15px;
        color: white;
        font-size: 90px;
        font-size: 5.625em;
        line-height: 1; }
      .hero-slider .slides .slide-desc {
        margin-bottom: 20px;
        font-size: 20px;
        font-size: 1.25em;
        font-family: "Titillium Web", "Open Sans", sans-serif; }
    .hero-slider .flex-control-paging {
      list-style: none;
      padding-left: 0;
      margin: 0;
      text-align: center;
      position: absolute;
      bottom: 30px;
      width: 100%;
      left: 0;
      z-index: 5; }
      .hero-slider .flex-control-paging li {
        display: inline-block;
        margin: 0 2px; }
        .hero-slider .flex-control-paging li a {
          display: block;
          width: 50px;
          height: 5px;
          background: white;
          overflow: hidden;
          text-indent: -9999px;
          cursor: pointer;
          transition: .3 ease; }
          .hero-slider .flex-control-paging li a.flex-active {
            background: #2e862b; }